In [99]:
import pandas as pd
import numpy as np
import os

import geopy

In [6]:
os.getcwd()

'C:\\Users\\GBTC408002ur\\Documents\\lvl2 data'

In [7]:
file = "./datasets/fed_campsites.csv"
df = pd.read_csv(file)

In [8]:
df.head(5)

,Unnamed: 0,CampsiteID,CampsiteName,CampsiteType,FacilityID,FacilityLatitude,FacilityLongitude,FacilityName,AddressStateCode,OrgAbbrevName
0,0,1,65.0,STANDARD NONELECTRIC,232446,37.573056,-119.665,WAWONA,CA,NPS
1,1,2,66.0,STANDARD NONELECTRIC,232446,37.573056,-119.665,WAWONA,CA,NPS
2,2,5,68.0,STANDARD NONELECTRIC,232446,37.573056,-119.665,WAWONA,CA,NPS
3,3,6,70.0,STANDARD NONELECTRIC,232446,37.573056,-119.665,WAWONA,CA,NPS
4,4,9,74.0,STANDARD NONELECTRIC,232446,37.573056,-119.665,WAWONA,CA,NPS

In [77]:
df.columns

Index(['Unnamed: 0', 'CampsiteID', 'CampsiteName', 'CampsiteType',
       'FacilityID', 'FacilityLatitude', 'FacilityLongitude', 'FacilityName',
       'AddressStateCode', 'OrgAbbrevName'],
      dtype='object')

In [11]:
df['AddressStateCode'].unique()

array(['CA', 'UT', 'MI', 'CO', 'VA', 'AK', 'WA', 'KY', 'NC', 'TN', 'AZ',
       'MT', 'MD', 'FL', 'TX', 'AR', 'MO', 'OK', 'OR', 'WI', 'IA', 'ID',
       'WY', 'NH', 'KS', 'IL', 'MN', 'NM', 'GA', 'PA', 'AL', 'OH', 'NV',
       'WV', 'IN', 'SD', 'MS', 'SC', 'ND', 'VT', 'NE', 'MA', 'CT', 'ME',
       'NJ', 'NY', 'LA'], dtype=object)

In [16]:
duplicateRowsDF = df[df.duplicated(['FacilityLatitude'])]

In [15]:
df.count()

Unnamed: 0           91907
CampsiteID           91907
CampsiteName         91907
CampsiteType         91907
FacilityID           91907
FacilityLatitude     91880
FacilityLongitude    91880
FacilityName         91907
AddressStateCode     91907
OrgAbbrevName        91907
dtype: int64

In [17]:
duplicateRowsDF.count()

Unnamed: 0           89131
CampsiteID           89131
CampsiteName         89131
CampsiteType         89131
FacilityID           89131
FacilityLatitude     89105
FacilityLongitude    89105
FacilityName         89131
AddressStateCode     89131
OrgAbbrevName        89131
dtype: int64

In [14]:
df['FacilityLongitude'].unique()

array([-119.665     , -119.36      , -119.5625    , ..., -110.95666667,
       -118.83305556, -112.47768056])

In [18]:
nodupedf = df.drop_duplicates(['FacilityLatitude'], keep='last')

In [85]:
nodupedf.head()

,Unnamed: 0,CampsiteID,CampsiteName,CampsiteType,FacilityID,FacilityLatitude,FacilityLongitude,FacilityName,AddressStateCode,OrgAbbrevName
98,98,576,64.0,STANDARD NONELECTRIC,232446,37.573056,-119.665000,WAWONA,CA,NPS
413,413,1384,G008,TENT ONLY NONELECTRIC,232448,37.871111,-119.360000,TUOLUMNE MEADOWS,CA,NPS
653,653,331,171.0,STANDARD NONELECTRIC,232447,37.736111,-119.562500,UPPER PINES,CA,NPS
842,842,535,F014,WALK TO,232445,37.198611,-112.986389,WATCHMAN CAMPGROUND,UT,NPS
935,935,97600,U,STANDARD NONELECTRIC,232449,37.741944,-119.565556,NORTH PINES,CA,NPS

In [19]:
nodupedf.count()

Unnamed: 0           2776
CampsiteID           2776
CampsiteName         2776
CampsiteType         2776
FacilityID           2776
FacilityLatitude     2775
FacilityLongitude    2775
FacilityName         2776
AddressStateCode     2776
OrgAbbrevName        2776
dtype: int64

In [26]:
empty_rows = nodupedf.isnull()  #for any column

In [87]:
no_empty_rows = nodupedf.dropna()
#no_empty_rows.dtypes #### this dtypes changes the dataframe into a dtype of "int64"
#no_empty_rows.head()

In [94]:
no_empty_rows = no_empty_rows.drop(['Unnamed: 0'], axis =1)

In [96]:
no_empty_rows = no_empty_rows.reset_index()

In [97]:
no_empty_rows.head()

,index,CampsiteID,CampsiteName,CampsiteType,FacilityID,FacilityLatitude,FacilityLongitude,FacilityName,AddressStateCode,OrgAbbrevName
0,98,576,64.0,STANDARD NONELECTRIC,232446,37.573056,-119.665000,WAWONA,CA,NPS
1,413,1384,G008,TENT ONLY NONELECTRIC,232448,37.871111,-119.360000,TUOLUMNE MEADOWS,CA,NPS
2,653,331,171.0,STANDARD NONELECTRIC,232447,37.736111,-119.562500,UPPER PINES,CA,NPS
3,842,535,F014,WALK TO,232445,37.198611,-112.986389,WATCHMAN CAMPGROUND,UT,NPS
4,935,97600,U,STANDARD NONELECTRIC,232449,37.741944,-119.565556,NORTH PINES,CA,NPS

In [98]:
no_empty_rows.to_csv(r'./datasets/fed_camp_clean.csv')

In [79]:
no_empty_rows = nodupedf.dropna().count()
#no_empty_rows.dtypes
no_empty_rows
#no_empty_rows.head()

Unnamed: 0           2775
CampsiteID           2775
CampsiteName         2775
CampsiteType         2775
FacilityID           2775
FacilityLatitude     2775
FacilityLongitude    2775
FacilityName         2775
AddressStateCode     2775
OrgAbbrevName        2775
dtype: int64

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [82]:
df_unique_facLat = no_empty_rows['FacilityLatitude'] #this doesn't appear to be a dataframe? one column table not a dataframe??
df_unique_facLat
#df_unique.unique()

#df_unique.dtype

2775

In [78]:
df_unique_facLat.columns

AttributeError: 'Series' object has no attribute 'columns'

In [65]:
df_unique_facLat.head()

98     37.573056
413    37.871111
653    37.736111
842    37.198611
935    37.741944
Name: FacilityLatitude, dtype: float64

In [51]:
df_unique.dtype

dtype('int64')

In [66]:
df_unique_facLat.count()

2775

In [75]:
df_unique_facLat.columns()

AttributeError: 'Series' object has no attribute 'columns'

In [70]:
df_unique_facLat.unique

<bound method Series.unique of 98       37.573056
413      37.871111
653      37.736111
842      37.198611
935      37.741944
1101     37.763889
1106     37.662222
1108     40.625556
1114     45.012464
1118     44.891667
1240     44.712778
1315     37.740833
1423     37.798889
1614     36.606711
1775     40.329167
2028     40.362500
2252     38.528619
2454     36.636111
2514     58.559722
2870     47.613056
3176     37.190278
3183     37.207222
3641     35.658333
3650     33.750000
3764     34.120000
3767     35.462778
3924     35.753333
3926     35.539444
3933     35.627778
3938     35.618333
           ...
91099    46.195572
91119    39.419069
91120    46.553431
91151    37.149386
91167    37.313217
91181    37.325361
91212    43.746939
91214    38.738289
91244    45.991208
91277    46.011392
91313    45.889242
91340    45.885247
91352    45.816331
91388    41.244856
91418    44.705400
91419    43.472778
91512    44.040833
91525    35.689861
91618    48.689581
91656    44.320561
91665    34.394944
91740    41.585844
91741    38.553881
91754    34.305417
91762    46.980475
91775    34.304806
91794    43.919000
91807    34.321431
91850    36.718139
91906    34.506169
Name: FacilityLatitude, Length: 2775, dtype: float64>